<?xml version="1.0"?>
<!--
/**
* Ffuenf_CategoryProductSortBackend extension
* 
* NOTICE OF LICENSE
* 
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
* 
* @category   Ffuenf
* @package    Ffuenf_CategoryProductSortBackend
* @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
* @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
* @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_CategoryProductSortBackend>
            <version>1.0.5</version>
        </Ffuenf_CategoryProductSortBackend>
    </modules>
    <global>
        <models>
            <ffuenf_categoryproductsortbackend>
                <class>Ffuenf_CategoryProductSortBackend_Model</class>
            </ffuenf_categoryproductsortbackend>
            <catalog_resource>
                <rewrite>
                    <product>Ffuenf_CategoryProductSortBackend_Model_Resource_Product</product>
                </rewrite>
            </catalog_resource>
        </models>
        <helpers>
            <ffuenf_categoryproductsortbackend>
                <class>Ffuenf_CategoryProductSortBackend_Helper</class>
            </ffuenf_categoryproductsortbackend>
        </helpers>
        <blocks>
            <ffuenf_categoryproductsortbackend>
                <class>Ffuenf_CategoryProductSortBackend_Block</class>
            </ffuenf_categoryproductsortbackend>
        </blocks>
        <resources>
            <ffuenf_categoryproductsortbackend_setup>
                <setup>
                    <module>Ffuenf_CategoryProductSortBackend</module>
                </setup>
            </ffuenf_categoryproductsortbackend_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <categoryproductsortbackend before="Mage_Adminhtml">Ffuenf_CategoryProductSortBackend_Adminhtml</categoryproductsortbackend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ffuenf_categoryproductsortbackend>
                    <file>categoryproductsortbackend.xml</file>
                </ffuenf_categoryproductsortbackend>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ffuenf_categoryproductsortbackend>
                        <class>ffuenf_categoryproductsortbackend/observer</class>
                        <method>addSortableScriptOnGrid</method>
                    </ffuenf_categoryproductsortbackend>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ffuenf_categoryproductsortbackend>
                        <class>ffuenf_categoryproductsortbackend/observer</class>
                        <method>addBatchSortOnGrid</method>
                    </ffuenf_categoryproductsortbackend>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <Ffuenf_CategoryProductSortBackend>
                    <files>
                        <default>Ffuenf_CategoryProductSortBackend.csv</default>
                    </files>
                </Ffuenf_CategoryProductSortBackend>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ffuenf_categoryproductsortbackend>
            <general>
                <enable>0</enable>
            </general>
        </ffuenf_categoryproductsortbackend>
    </default>
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_CategoryProductSortBackend/>
            </modules>
        </suite>
    </phpunit>
</config>