<?xml version="1.0"?>
<!--
/**
* Ffuenf_CategoryProductSortBackend extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category   Ffuenf
* @package    Ffuenf_CategoryProductSortBackend
* @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
* @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
* @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_CategoryProductSortBackend>
            <version>1.0.0</version>
        </Ffuenf_CategoryProductSortBackend>
    </modules>
    <global>
        <models>
            <ffuenf_categoryproductsortbackend>
                <class>Ffuenf_CategoryProductSortBackend_Model</class>
            </ffuenf_categoryproductsortbackend>
        </models>
        <helpers>
            <ffuenf_categoryproductsortbackend>
                <class>Ffuenf_CategoryProductSortBackend_Helper</class>
            </ffuenf_categoryproductsortbackend>
        </helpers>
        <resources>
            <categoryproductsortbackend_setup>
                <setup>
                    <module>Ffuenf_CategoryProductSortBackend</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryproductsortbackend_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ffuenf_categoryproductsortbackend before="Mage_Adminhtml">Ffuenf_CategoryProductSortBackend_Adminhtml</ffuenf_categoryproductsortbackend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ffuenf_categoryproductsortbackend>
                    <file>categoryproductsortbackend.xml</file>
                </ffuenf_categoryproductsortbackend>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ffuenf_categoryproductsortbackend_addSortableScript>
                        <class>Ffuenf_CategoryProductSortBackend_Model_Observer</class>
                        <method>addSortableScriptOnGrid</method>
                    </ffuenf_categoryproductsortbackend_addSortableScript>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <categoryproductsortbackend>
                                            <title>Category Product Sort Backend</title>
                                        </categoryproductsortbackend>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Ffuenf_CategoryProductSortBackend>
                    <files>
                        <default>Ffuenf_CategoryProductSortBackend.csv</default>
                    </files>
                </Ffuenf_CategoryProductSortBackend>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <categoryproductsortbackend>
            <general>
                <enabled>0</enabled>
            </general>
        </categoryproductsortbackend>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_CategoryProductSortBackend/>
            </modules>
        </suite>
    </phpunit>
</config>