<?xml version="1.0"?>
<!--
  /**
  * @category    Ffuenf
  * @package     Ffuenf_CategoryProductSortBackend
  * @author      Achim Rosenhagen <a.rosenhagen@ffuenf.de>
  */
-->
<config>
  <tabs>
    <ffuenf>
      <label>Ffuenf</label>
      <class>ffuenf-tab</class>
      <sort_order>1000</sort_order>
    </ffuenf>
  </tabs>
  <sections>
    <categoryproductsortbackend translate="label" module="ffuenf_categoryproductsortbackend">
      <label>Category Product Sort Backend</label>
      <tab>ffuenf</tab>
      <sort_order>200</sort_order>
      <show_in_default>1</show_in_default>
      <groups>
        <general translate="label" module="ffuenf_categoryproductsortbackend">
          <label>Drag &amp; drop sorting of products in categories</label>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <fields>
            <enabled translate="label">
              <label>Enable</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
            </enabled>
          </fields>
        </general>
      </groups>
    </categoryproductsortbackend>
  </sections>
</config>